body { 
    background-image: url("background2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


h1 { 
    text-align: center; 
    height: 50px;   
    margin-bottom: 0; 
}

.heading { 
    color: white; 
    background-color: #C49A6C;
}

header { 
    display: flex; 
    background-color: #FCE4CC;
    justify-content: center;  
    height: 60px; 
    margin-bottom: 20px;
}

nav { 
    color: #C7D9DD; 
    display: flex; 
    gap: 150px; 
    
}

a { 
    text-decoration: none;
}

h3 {  
    height: 40px; 
    padding-left: 20px;
    padding-top: 10px;  
    margin: 0px; 
    text-align: center; 
    color: white; 

}

div {   
    width: 100%;
    height: auto; 
    margin: 0px;
    display: flex; 
    flex-direction: column;  
}

textarea { 
    width: 80%;
    height: auto; 
    margin: 10px; 
    display: flex; 
    flex-direction: column;  
}

p { 
    color: white; 
    line-height: 1.5;
}

fieldset { 
    margin-top: 20px; 
    margin-bottom: 20px; 
}

.tree { 
    width: 200px; 
    height: 200px; 
    margin: 20px; 
}

.pottery  { 
    display: flex; 
    flex-direction: row;  
    justify-content: center; 
    margin: 20px; 
}

.photography  { 
    display: flex; 
    flex-direction: row;  
    justify-content: center; 
    margin: 20px; 
}

.drawing  { 
    display: flex; 
    flex-direction: row; 
    justify-content: center;  
    margin: 20px; 
}

.sewing  { 
    display: flex; 
    flex-direction: row;  
    justify-content: center; 
    margin: 20px; 
}

.climbing { 
    display: flex; 
    flex-direction: row; 
    justify-content: center;  
    margin: 20px; 
}

.biking { 
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    margin: 20px; 
}