
body { 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


h1 { 
    text-align: center; 
    color: orange; 
    font-size: 30px; 
    height: 50px;   
    margin-bottom: 0; 
}

header { 
    display: flex; 
    background-color: #FCE4CC;
    justify-content: center;  
    height: 60px; 
}

nav { 
    color: #C7D9DD; 
    display: flex; 
    gap: 150px; 
    
}

a { 
    text-decoration: none;
}

a:active{ 
    color: white;
}

a:visited { 
    color: black; 
}

a:hover { 
    background-color: #C7D9DD; 
}

p { 
    display: flex; 
    flex-direction: row;  
}

.carousel-container { 
    display: flex; 
    flex-direction: row; 
}

.arrow-left { 
    height: 50px; 
    margin-top: 200px; 
    margin-left: 150px; 
}

.arrow-right { 
    height: 50px; 
    margin-top: 200px; 
    margin-right: 150px; 
}

.speech { 
    display: flex; 
    justify-content: center; 
    margin-top: 50px; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: #C49A6C;    
    width: 400px; 
    height: 400px; 
    border-radius: 200px; 
}

.tree { 
    margin-top: 15px; 
    margin-bottom: 10px; 
    width: 380px; 
    height: 370px; 
    border-radius: 200px; 
}

.title { 
 display: flex; 
 justify-content: center; 
}

.title > h2 {  
    color: white;
    margin-left: 0px; 
    margin-right: 0px;  
}


.info { 
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    gap: 20px;  
    margin-right: auto; 
    margin-left: auto; 
}

.one { 
    background-color: #C49A6C; 
    padding: 80px; 
    border-radius: 20px; 
}

.two { 
    background-color: #FCE4CC;
    padding: 80px;
    border-radius: 20px; 
}

.three { 
    background-color: #C49A6C;
    padding: 80px;
    border-radius: 20px; 
}

.four { 
    background-color: #FCE4CC;
    padding: 80px;
    border-radius: 20px; 
}

footer { 
    margin-top: 30px; 
    background-color: #C49A6C;
    height: 20vh; 
}